/* Fonts */
@font-face {
    font-family: "Bassically Serif";
    src: url('../fonts/Basically-Serif.ttf');
}
@font-face {
    font-family: "Myriad-Pro";
    src: url('../fonts/Myriad-Pro.OTF');
}

/* NavBar */
@media (min-width: 768px) {
	.navbar-nav {
	  width: 100%;
	  text-align: center;
	}
	.navbar-nav > li {
	  float: none;
	  display: inline-block;
	}
}
.navbar{
	background-color: #55A2AC;
	border:none;
}
.navbar-default .icon-bar {
	background-color: #fff;
}
.navbar-collapse .navbar-nav li a,.navbar-collapse .navbar-nav li:hover a{
	color: #fff;
	font-family: 'Myriad-Pro', 'Bassically Serif';
	font-size: 20px;
}
.navbar-collapse .navbar-nav li:hover{
	background-color: #3B7076;
}

/* Banniere */
#header {
	height: auto;
	margin-top: 50px;
	width: 100%;
	display: block;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}
#header img {
	width: 100%;
}

/* Global */
body {
	color: #fff;
	font-family: 'Myriad-Pro';
}
h1{
	margin-bottom: 5px;
	margin-top: 15px;
	font-size: 35px;
}
h2 {
	margin-top: 0;
	font-family: 'Bassically Serif', 'Myriad-Pro', Arial;
	color: #fff;
	text-align: center;
}
hr {
	margin-top: 10px;
	margin-bottom: 10px;
}


/* Footer */
footer {
	background-color: #55a2ac;
	text-align: center;
	padding: 8px;
	font-size: 18px;
	margin-top: 15px;
}

/* Jeu */
.container-jeu{
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 30px;
}
.jeu{
	background-color: #55a2ac;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-right: 30px;
	padding-left: 30px;
}
.jeu .col-md-6{
	color: #fff;
	font-family: 'Bassically Serif';
}
.jeu .infos-article{
	text-align: right;
	padding-top: 30px;
	font-family: 'Myriad-Pro';
}
.jeu .col-md-12 img{
	width: 100%;
	margin-bottom: 10px;
}
.jeu .col-md-12 p{
	color: #fff;
	font-family: 'Myriad-Pro';
	font-size: 20px;
}
.glyphicon-star, .glyphicon-star-empty{
	color: #fff;
	font-size: 22px;
}

	.col-note{
		text-align: center;
	}
	.col-tags{
		text-align: center;
	}
	.col-commentaires{
		text-align: center;
	}
@media (min-width: 990px) {
	.col-note{
		text-align: center;
	}
	.col-tags{
		text-align: left;
	}
	.col-commentaires{
		text-align: right;
	}
}
.btn-collapse{
	color: #fff;
	font-family: 'Myriad-Pro';
	font-size: 18px;
    text-decoration: none;
}
.btn-collapse:focus{
    text-decoration: none;
}
.btn-collapse:hover{
	color: #5b7076;
	text-decoration: none;
}
.glyphicon-chevron-down,.glyphicon-chevron-up{
	top:4px;
}
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #fff;
  border-radius: 3px 0 0 3px;
  color: #55a2ac;
  font-family: 'Myriad-Pro';
  display: inline-block;
  line-height: 28px;
  padding: 0 20px 0 23px;
  height: 26px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
}

.tag::before {
  background: #55a2ac;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #55a2ac;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #fff;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #5b7076;
  text-decoration: none;
  color: white;
}

.tag:hover::after {
   border-left-color: #5b7076; 	
}
.collapse-commentaire, .collapse-commentaire .well{
  background-color: #55a2ac;
  border: 0;
}
.commentaire-infos{
	font-style: italic;
}
.commentaire-infos{
	font-size:14px; 
}
.infos-article b a{
	color: #fff;
}
.star-rating {
	display: inline-block;
}
form .note {
	text-align: center;
}
form .submit {
	text-align: right;
}
.well {
	margin-bottom: 0;
}

/* Team */
div.personne {
	background-color: #55A2AC;
	margin: 60px 12%;
	padding: 20px;
}
div.personne .gauche img, div.personne .gauche a {
	display: block;
	text-align: center;
}
div.personne .gauche a {
	background-color: #fff;
	color: #55A2AC;
	font-weight: bold;
	padding: 10px 15px;
	margin-top: 15px;
}
div.personne .gauche a:hover {
	text-decoration: none;
	background-color: #efefef;
}
div.personne .gauche img {
	width: 100%;
}

div.personne .droite {
	height: 100%;
}
div.personne .droite .citation {
	font-style: italic;
	font-size: 32px;
	padding-top: 35px;
}
div.personne .droite .citation:before {
	content: "\" ";
}
div.personne .droite .citation:after {
	content: " \"";
}
div.personne .droite .description {
	font-size: 17px;
}
div.personne .droite .liens {
	border-top: 1px solid #fff;
	margin-top: 25px;
	padding-top: 10px;
	font-size: 18px;
}
