/* Fonts */
@font-face {
    font-family: "Bassically Serif";
    src: url('../fonts/Basically-Serif.ttf');
}
@font-face {
    font-family: "Myriad-Pro";
    src: url('../fonts/Myriad-Pro.OTF');
}

/* NavBar */
@media (min-width: 768px) {
	.navbar-nav {
	  width: 100%;
	  text-align: center;
	}
	.navbar-nav > li {
	  float: none;
	  display: inline-block;
	}
}
.navbar{
	background-color: #55A2AC;
	border:none;
}
nav.navbar-default button.navbar-toggle>.icon-bar {
	background-color: #fff;
}
.navbar-collapse .navbar-nav li a,.navbar-collapse .navbar-nav li:hover a{
	color: #fff;
	font-family: 'Bassically Serif';
	font-size: 20px;
}
.navbar-collapse .navbar-nav li:hover{
	background-color: #3B7076;
}

/* Banniere */
#header {
	height: auto;
	margin-top: 50px;
	width: 100%;
	display: block;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}
#header img {
	width: 100%;
}

/* Global */
body {
	color: #fff;
	font-family: 'Myriad-Pro';
}
h2 {
	margin-top: 0px;
	font-family: 'Bassically Serif', 'Myriad-Pro', Arial;
	color: #fff;
}

/* Jeu */
.jeu{
	
}


/* Team */
div.personne {
	background-color: #55A2AC;
	margin: 60px 12%;
	padding: 20px;
}
div.personne .gauche * {
	display: block;
	text-align: center;
}
div.personne .gauche a {
	background-color: #fff;
	color: #55A2AC;
	font-weight: bold;
	padding: 10px 15px;
	margin-top: 15px;
}
div.personne .gauche a:hover {
	text-decoration: none;
	background-color: #efefef;
}
div.personne .gauche img {
	width: 100%;
}

div.personne .droite {
	height: 100%;
}
div.personne .droite .citation {
	font-style: italic;
	font-size: 32px;
	padding-top: 35px;
}
div.personne .droite .citation:before {
	content: "\" ";
}
div.personne .droite .citation:after {
	content: " \"";
}
div.personne .droite .description {
	font-size: 17px;
}
div.personne .droite .liens {
	border-top: 1px solid #fff;
	margin-top: 25px;
	padding-top: 10px;
	font-size: 18px;
}