/* Fonts */
@font-face {
    font-family: "Bassically Serif";
    src: url('../fonts/Basically-Serif.ttf');
}
@font-face {
    font-family: "Myriad-Pro";
    src: url('../fonts/Myriad-Pro.OTF');
}

/* NavBar */
@media (min-width: 768px) {
	.navbar-nav {
	  width: 100%;
	  text-align: center;
	}
	.navbar-nav > li {
	  float: none;
	  display: inline-block;
	}
}
.navbar{
	background-color: #55A2AC;
	border:none;
}
nav.navbar-default button.navbar-toggle>.icon-bar {
	background-color: #fff;
}
.navbar-collapse .navbar-nav li a,.navbar-collapse .navbar-nav li:hover a{
	color: #fff;
	font-family: 'Bassically Serif';
	font-size: 20px;
}
.navbar-collapse .navbar-nav li:hover{
	background-color: #3B7076;
}

/* Banniere */
#header {
	height: auto;
	margin-top: 50px;
	width: 100%;
	display: block;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}
#header img {
	width: 100%;
}

/* Jeu */
.jeu{
	
}